<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./manifest.json" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Restaurant Apps - PStar7</title>
  </head>
  <body>
    <header>
      <a class="skip_link" href="#main_content">Skip to Content</a>
      <nav>
        <a class="logo" href="/">PStar7</a>
        <button class="hamburger">
          <span class="hamburger_line"></span>
          <span class="hamburger_line"></span>
          <span class="hamburger_line"></span>
        </button>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li>
            <a href="https://github.com/thomi-h" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
      <div class="overlay"></div>
      <div class="drawer">
        <ul class="mobile_links">
          <li><a href="#">Home</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li>
            <a href="https://github.com/thomi-h" target="_blank">About Us</a>
          </li>
        </ul>
      </div>
      <div class="jumbotron">
        <picture>
          <source
            media="(max-width: 600px)"
            srcset="./images/hero-image_4-small.jpg"
            class="jumbotron-img"
          />
          <img
            src="./images/hero-image_4-large.jpg"
            alt="Premium Cookies with yellow flower and lemon garnish"
            class="jumbotron-img"
          />
        </picture>
        <div class="header_content">
          <h1>Find the Restaurant You Need!</h1>
        </div>
      </div>
    </header>
    <main id="main_content" tabindex="0"></main>
    <footer>Copyright © 2024 - PStar7</footer>
  </body>
</html>
